.form {
    width: 320px;
    padding: 40px;
    margin: 0 auto;
    border: 1px solid #9CABC2;
    background-color: #fff;

    &__row {
        display: flex;
        justify-content: space-between;
    }
    
    input {
        width: 100%;
    }
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}