<p>reactive-forms works!</p>

<form 
    class="form" 
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit()">
    <div class="form__row">
        <input type="text" formControlName="search"/>
        <button type="submit">Submit</button>
    </div>
    <span *ngIf="!searchForm.get('search').valid && searchForm.get('search').touched">Add valid search value</span>
    
</form>

{{searchForm.get('search').value}}