<!-- <p> {{ data.description }} </p>
<p> {{ data.id }} </p>
<p> {{ data.isDone }} </p>
<p> {{ data.date }} </p> -->

<div>
    <input type="checkbox" [checked]="data.isDone" />
    <input type="text" [value]="data.description" />
    <span>{{ data.date }}</span>
    <button type="button" (click)="onButtonClick($event)">Delete</button>
    <!-- The binding executes the statement within a context that includes the DOM event object, $event.
    Czyli prościej. Nasz $event to jest obiekt, który wyciągany jest z naszego DOM przeglądarki
    DOM  - Document Object Model -->

</div>
