.form {
    width: 320px;
    padding: 40px;
    margin: 0 auto;
    border: 1px solid #555;

    display: flex;
    flex-direction: column;

    &__input {
        margin-bottom: 20px;
    }
}

span {
    color: red;
}