<p>login-form works!</p>

<form 
    class="form" 
    [formGroup]="loginForm"
    (ngSubmit)="onFormSubmit()"
    >
    <h3>Reactive Forms</h3>

    <label for="username">Username</label>
    <input 
        id="username" 
        class="form__input" 
        type="text" 
        formControlName="username"
    />
    <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Please enter valid username.</span>



    <label for="password">Password</label>
    <input 
        id="password" 
        class="form__input" 
        type="password" 
        formControlName="password"
    />

    <label for="age">Your age</label>
    <input 
        id="age" 
        class="form__input" 
        type="number" 
        placeholder="Choose your age"
        formControlName="age" 
    
    />
    
    <button class="form__button">Login</button>
</form>
