<app-first></app-first>
<app-second></app-second>
<!-- <app-reactive-forms></app-reactive-forms> -->

<ul>
    <li *ngFor="let arrItem of dataArr; let i = index;">
        {{ arrItem }} {{ i+1 }}
    </li>
</ul>
<hr/>
    <p *ngIf="isElementVisible">jestem widoczny</p>
    <button (click)="onButtonClick()">Click me!</button>
<hr/>

<section class="portfolio-page">

</section>

<img class="hero__img" [src]="myImg" alt="Hero img"/>