<!-- BEM -->
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <!-- definicja route'a na który chcemy mamy przenieść naszego użytkownika -->
            <!-- 1. dodanie atrubutu router-link ze ścieżką do tagu <a> -->
            <!-- 2. dodanie routów w pliku app-routing.module.ts (pomijamy slasha, ale nazwa musi być taka sama jak w router-link) -->
            <!-- 3. dodanie <router-outlet> w miejscu gdzie chcemy wyrenderować dany komponent -->
            <a routerLink="/" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
            <a routerLink="/portfolio" class="nav__link">Portfolio</a>
        </li>        
        <li class="nav__item">
            <a routerLink="/todo-list" class="nav__link">Todo List</a>
        </li>
    </ul>
</nav>


