// zostosujmy metodę BEM do pisania styli w pliku .scss


.nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px #9CABC2;
    &__list {
    // flexboxem stylujemy na rodzicu i rodzic mówi dzieciakom jak mają się ustawić
    display: flex;
    list-style: none;
    }

    &__item {
        margin-left: 50px;
        padding: 20px 0;
    }
}
