<p>first works!</p>

<app-login-form></app-login-form>


<h3>{{ myName }}</h3>
<h4>{{ myAge }}</h4>
<!-- <h5>{{ isOld }}</h5> -->


<!-- <img class="hero__img" [src]="myImg" alt="Hero img"/> -->
<!-- <img src={{myImg}} alt="Hero img">

<button 
    (click)="onButtonClick()"
    (mouseenter)="onButtonEnter()"
    >Click me!</button>

<!-- <input [value]="inputValue"/> -->
<form class="form">
    <input [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}"/>
    <span>{{ inputValue }}</span>
    

    <button (click)="onSubmit()">Submit</button>
</form>

<!-- <button (mouseenter)="onButtonClick()">Click me!</button> -->

